In [13]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

In [22]:
engine = create_engine('sqlite:///Northwind.db')
engine2 = create_engine('sqlite:///NorthwindSF.db')
engine
engine2

Engine(sqlite:///NorthwindSF.db)

# Extract

In [23]:
metadata = MetaData()

metadata.create_all(engine)
metadata.create_all(engine2)

inspector = inspect(engine)
inspector2 = inspect(engine2)

### inspección de category

In [16]:
inspector.get_columns('Category')

[{'name': 'Id',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'CategoryName',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Description',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de Customer

In [8]:
inspector.get_columns('Customer')

[{'name': 'CustomerId',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'CompanyName',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ContactName',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ContactTitle',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Address',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'City',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Region',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'PostalCode',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Country',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Phone',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Fax',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de CustomerCustomerDemo

In [24]:
inspector.get_columns('CustomerCustomerDemo')

[{'name': 'Id',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'CustomerTypeId',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de CustomerDemographic

In [25]:
inspector.get_columns('CustomerDemographic')

[{'name': 'Id',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'CustomerDesc',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de Employee

In [26]:
inspector.get_columns('Employee')

[{'name': 'Id',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'LastName',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'FirstName',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Title',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'TitleOfCourtesy',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'BirthDate',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'HireDate',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Address',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'City',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Region',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'PostalCode',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Country',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'HomePhone',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Extension',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Photo',
  'type': BLOB(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Notes',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ReportsTo',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'PhotoPath',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de EmployeeTerritory

In [27]:
inspector.get_columns('EmployeeTerritory')

[{'name': 'EmployeeTerritoryId',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'EmployeeId',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'TerritoryId',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de Order

In [28]:
inspector.get_columns('Order')

[{'name': 'OrderId',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'CustomerId',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'EmployeeId',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'OrderDate',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'RequiredDate',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ShippedDate',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ShipVia',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Freight',
  'type': DECIMAL(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ShipName',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ShipAddress',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ShipCity',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ShipRegion',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ShipPostalCode',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ShipCountry',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de OrderDetail

In [29]:
inspector.get_columns('OrderDetail')

[{'name': 'Id',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'OrderId',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ProductId',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'UnitPrice',
  'type': DECIMAL(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Quantity',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Discount',
  'type': FLOAT(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de Product

In [30]:
inspector.get_columns('Product')

[{'name': 'ProductId',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'ProductName',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'SupplierId',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'CategoryId',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'QuantityPerUnit',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'UnitPrice',
  'type': DECIMAL(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'UnitsInStock',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'UnitsOnOrder',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ReorderLevel',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Discontinued',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de Region

In [31]:
inspector.get_columns('Region')

[{'name': 'Id',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'RegionDescription',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de Shipper

In [32]:
inspector.get_columns('Shipper')

[{'name': 'ShipperId',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'CompanyName',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Phone',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de Supplier

In [33]:
inspector.get_columns('Supplier')

[{'name': 'SupplierId',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'CompanyName',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ContactName',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ContactTitle',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Address',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'City',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Region',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'PostalCode',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Country',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Phone',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Fax',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'HomePage',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

### inspección de Territory

In [34]:
inspector.get_columns('Territory')

[{'name': 'TerritoryId',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'TerritoryDescription',
  'type': TEXT(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'RegionId',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

# Transform

### dim_category

In [9]:
import pandas as pd
df_category=pd.read_sql_query("""SELECT CategoryName, Description
FROM category;
 """, con=engine.connect())
df_category.head()

     CategoryName                                        Description
0       Beverages        Soft drinks, coffees, teas, beers, and ales
1      Condiments  Sweet and savory sauces, relishes, spreads, an...
2     Confections                Desserts, candies, and sweet breads
3  Dairy Products                                            Cheeses
4  Grains/Cereals                Breads, crackers, pasta, and cereal

### dim_customer

In [36]:
df_customer=pd.read_sql_query("""SELECT CustomerId , CompanyName, ContactName, ContactTitle,
 Address, City, Region, PostalCode, Country, Phone
FROM Customer;
 """, con=engine.connect())
df_customer=df_customer.drop_duplicates(['CustomerId'], keep='first')
df_customer.head()

,CustomerId,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,Western Europe,12209,Germany,030-0074321
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,Central America,05021,Mexico,(5) 555-4729
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,Central America,05023,Mexico,(5) 555-3932
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,British Isles,WA1 1DP,UK,(171) 555-7788
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,Northern Europe,S-958 22,Sweden,0921-12 34 65

### dim_employee

In [37]:
df_employee=pd.read_sql_query("""SELECT LastName, FirstName, Title, TitleOfCourtesy,
BirthDate, HireDate, Address, City, Region, PostalCode, Country, Extension, Photo, Notes, ReportsTo, PhotoPath
FROM Employee;
 """, con=engine.connect())
df_employee.head()

,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,PostalCode,Country,Extension,Photo,Notes,ReportsTo,PhotoPath
0,Davolio,Nancy,Sales Representative,Ms.,1980-12-08,2024-05-01,507 - 20th Ave. E. Apt. 2A,Seattle,North America,98122,USA,5467,None,Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp
1,Fuller,Andrew,"Vice President, Sales",Dr.,1984-02-19,2024-08-14,908 W. Capital Way,Tacoma,North America,98401,USA,3457,None,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp
2,Leverling,Janet,Sales Representative,Ms.,1995-08-30,2024-04-01,722 Moss Bay Blvd.,Kirkland,North America,98033,USA,3355,None,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
3,Peacock,Margaret,Sales Representative,Mrs.,1969-09-19,2025-05-03,4110 Old Redmond Rd.,Redmond,North America,98052,USA,5176,None,Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp
4,Buchanan,Steven,Sales Manager,Mr.,1987-03-04,2025-10-17,14 Garrett Hill,London,British Isles,SW1 8JR,UK,3453,None,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp

### dim_EmployeeTerritory

In [17]:
df_EmployeeTerritory=pd.read_sql_query("""SELECT EmployeeTerritoryId, EmployeeId, TerritoryId
FROM EmployeeTerritory;
 """, con=engine.connect())
df_EmployeeTerritory=df_EmployeeTerritory.drop_duplicates(['EmployeeTerritoryId'], keep='first')
df_EmployeeTerritory.head()

  EmployeeTerritoryId  EmployeeId TerritoryId
0             1/06897           1       06897
1             1/19713           1       19713
2             2/01581           2       01581
3             2/01730           2       01730
4             2/01833           2       01833

### dim_product

In [39]:
df_product=pd.read_sql_query("""SELECT ProductName, SupplierId, CategoryId, QuantityPerUnit,
UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
FROM Product;
 """, con=engine.connect())
df_product=df_product.drop_duplicates(['ProductName'], keep='first')
df_product.head()

,ProductName,SupplierId,CategoryId,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

### dim_shipper

In [40]:
df_shipper=pd.read_sql_query("""SELECT CompanyName, Phone
FROM Shipper;
 """, con=engine.connect())
df_shipper=df_shipper.drop_duplicates(['CompanyName'], keep='first')
df_shipper.head()

        CompanyName           Phone
0    Speedy Express  (503) 555-9831
1    United Package  (503) 555-3199
2  Federal Shipping  (503) 555-9931

### dim_supplier

In [57]:
df_supplier=pd.read_sql_query("""SELECT CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode,
Country, Phone, HomePage
FROM Supplier;
 """, con=engine.connect())
df_supplier=df_supplier.drop_duplicates(['CompanyName'], keep='first')
df_supplier.head()

,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,HomePage
0,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,British Isles,EC1 4SD,UK,(171) 555-2222,None
1,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,North America,70117,USA,(100) 555-4822,#CAJUN.HTM#
2,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,North America,48104,USA,(313) 555-5735,None
3,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai Musashino-shi,Tokyo,Eastern Asia,100,Japan,(03) 3555-5011,None
4,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Southern Europe,33007,Spain,(98) 598 76 54,None

### dim_territory

In [10]:
df_territory=pd.read_sql_query("""SELECT TerritoryId, TerritoryDescription
FROM Territory;
 """, con=engine.connect())
df_territory=df_territory.drop_duplicates(['TerritoryId'], keep='first')
df_territory.head()

  TerritoryId TerritoryDescription
0       01581             Westboro
1       01730              Bedford
2       01833            Georgetow
3       02116               Boston
4       02139            Cambridge

### Order

In [21]:
df_order=pd.read_sql_query("""select oi.OrderId , oi.CustomerId,  oi.EmployeeId, oi.OrderDate, po.ProductId, sh.ShipperId
FROM [Order] oi
JOIN OrderDetail od ON oi.OrderId== od.OrderId
JOIN Product po ON po.ProductId == od.ProductId
JOIN Shipper sh ON sh.ShipperId == oi.ShipVia
 """, con=engine.connect())
df_order.head()

   OrderId CustomerId  EmployeeId   OrderDate  ProductId  ShipperId
0    10248      VINET           5  2012-07-04         11          3
1    10248      VINET           5  2012-07-04         42          3
2    10248      VINET           5  2012-07-04         72          3
3    10249      TOMSP           6  2012-07-05         14          1
4    10249      TOMSP           6  2012-07-05         51          1

# Load

## Funcione de carga

In [19]:
def updateData(name_table,data_db,name_columns):
	print(name_columns)
	aux_values='?'
	aux_data=[]
	aux_columns=name_columns[0]
	aux_data.append(list(data_db[name_columns[0]]))
	entities=[]
	aux_entities=[]
	for i in range(len(name_columns)-1):
		aux_values+=',?'
		aux_columns+=','+name_columns[i+1]
		aux_data.append(list(data_db[name_columns[i+1]]))
	for i in range(len(aux_data[0])):
		for j in range(len(aux_data)):
			aux_entities.append(aux_data[j][i])
		entities.append(aux_entities)
		aux_entities=[]
	with engine2.connect() as con:
		for i in entities:
			con.execute('INSERT INTO '+name_table+'('+aux_columns+') VALUES('+aux_values+')', i)
	con.close()

### dim_category

In [73]:
updateData('dim_category',df_category,list(df_category.columns.values))

['CategoryName', 'Description']

### dim_customer

In [27]:
updateData('dim_customer',df_customer,list(df_customer.columns.values))

['CustomerId', 'CompanyName', 'ContactName', 'ContactTitle', 'Address', 'City', 'Region', 'PostalCode', 'Country', 'Phone']

### dim_employee

In [76]:
updateData('dim_employee',df_employee,list(df_employee.columns.values))

['LastName', 'FirstName', 'Title', 'TitleOfCourtesy', 'BirthDate', 'HireDate', 'Address', 'City', 'Region', 'PostalCode', 'Country', 'Extension', 'Photo', 'Notes', 'ReportsTo', 'PhotoPath']

### dim_EmployeeTerritory

In [44]:
updateData('dim_EmployeeTerritory',df_EmployeeTerritory,list(df_EmployeeTerritory.columns.values))

['EmployeeTerritoryId', 'EmployeeId', 'TerritoryId']

### dim_product

In [60]:
updateData('dim_product',df_product,list(df_product.columns.values))

['ProductName', 'SupplierId', 'CategoryId', 'QuantityPerUnit', 'UnitPrice', 'UnitsInStock', 'UnitsOnOrder', 'ReorderLevel', 'Discontinued']

### dim_shipper

In [61]:
updateData('dim_shipper',df_shipper,list(df_shipper.columns.values))

['CompanyName', 'Phone']

### dim_supplier

In [62]:
updateData('dim_supplier',df_supplier,list(df_supplier.columns.values))

['CompanyName', 'ContactName', 'ContactTitle', 'Address', 'City', 'Region', 'PostalCode', 'Country', 'Phone', 'HomePage']

### dim_territory

In [45]:
updateData('dim_territory',df_territory,list(df_territory.columns.values))

['TerritoryId', 'TerritoryDescription']

### Order

In [24]:
updateData('[Order]',df_order,list(df_order.columns.values))

['OrderId', 'CustomerId', 'EmployeeId', 'OrderDate', 'ProductId', 'ShipperId']